language: python
sudo: false
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
install:
  # Self-install for setup.py-driven deps
  - pip install -e .
script:
  # Main tests, with coverage!
  - inv test --coverage

notifications:
  email: false
after_success:
  - coveralls